<h1>{{title}}</h1>
<form method="post" action="/views/login.hbs">
    <div class="form-group col-4">
        <label for="InputUserEmail">Email address</label>
        <input type="email" class="form-control" id="InputUserEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group col-4">
        <label for="InputUserPassword">Password</label>
        <input type="password" class="form-control" id="InputUserPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>